body {
    overflow-x: hidden;
    box-sizing: border-box;
}

.ti {
    margin: 0 15%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    padding: 0 1%;
}

.limage_img {
    height: 50vh;
    backdrop-filter: contrast(50%);
    backdrop-filter: brightness(50%);
}

.limage_float {
    position: absolute;
    bottom: -45%;
    left: -20%;
    z-index: -1;
}

.one_float_left {
    position: absolute;
    right: -5%;
    bottom: 0%;
    z-index: -1;
}

.box {
    overflow-x: hidden;
}

.my_travel {
    margin-top: 8%;
    width: 100%;
    height: 55vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.three_blog_left {
    position: absolute;
    top: 10%;
    left: -10%;
}

.four_blog_right_Scribble {
    position: absolute;
    top: 70%;
    right: -2%;
}

.three_images {
    margin-top: 15vh;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.allImages {
    width: 25%;
}

.image3>img {
    filter: brightness(90%);
    width: 90%;
}

.allImages>#line {
    margin-top: 5vh;
    background-color: black;
    width: 10%;
    height: 2px;
}

.gallary_left {
    position: absolute;
    left: -20%;
    top: -20%;
    transform: scale(0.8);
}

.gallary_right {
    position: absolute;
    right: -16%;
    top: 20%;
}

.plain {
    margin-top: 30vh;
    margin-bottom: 30vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.plain_text {
    width: 25%;
}

.plain_text_cap {
    display: flex;
}

.plain_Scribble {
    position: absolute;
    left: 18%;
    transform: scale(0.5);
}

.twoImgs {
    padding: 0 2%;
    filter: brightness(70%);
    display: flex;
    gap: 2%;
    justify-content: center;
    position: relative;
}

.long_img {
    width: 40%;
}

.small_image {
    width: 50%;
}

.mountain_text {
    margin-top: 5%;
    display: flex;
}

.long_img>img {
    height: 90%;
}

.Tape {
    position: absolute;
    left: 3%;
    top: 30%;
}

.line {
    position: absolute;
    right: 5%;
    bottom: 13%;
}


.bloc_six {
    clear: both;
    height: 100%;
    background-color: black;
    height: fit-content;
    color: white;
    width: 100%;
    position: relative;
}

.six_main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.six_main_left {
    /* width: 35%; */
    padding: 10% 5% 10% 10%;
}


.six_ScribbleLight {
    position: absolute;
    left: -10%;
    bottom: -9%;
}



.seven_block {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;

}


.seven_left {
    width: 100%;
    padding: 0 5% 0 10%;
}

.seven_right>img {
    width: 100%;
}

.text_plus {
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_plus>div {
    padding: 0 2%;
}

.eight_cards {
    display: flex;
    justify-content: center;
}

.head {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

.head>div {
    width: 30%;
    text-align: center;
}

.card_one {
    position: relative;
    padding: 4% 2%;
    margin: 0 1%;
    width: 25%;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Ellipse {
    position: absolute;
    top: 6%;
    left: 30%;
    z-index: -1;
    /* overflow: hidden; */
    transform: translate(-50% -50%);
}

.person {
    mix-blend-mode: color-dodge;
}

.Eight_top_Scribble_dark {
    position: absolute;
    left: -5%;
    top: -8%;
}

.Eight_bottom_Scribble_dark {
    position: absolute;
    right: -15%;
    bottom: -15%;
}

.nine_main {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.nine_form_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frm {
    margin-top: 5vh;

}
form>div{
padding: 2%;
}
form>div>input[type="text"]{
    border: 1px solid black;
    border-radius: 3px;
    width: 95%;
    height: 7vh;
}
form>div>textarea{
    border: 1px solid black;
    border-radius: 3px;
    width: 95%;
}
form>div>::placeholder{
    padding-left: 1vw;
    color: black;
}
.form_submit{
    width: 95%;
    border-radius: 2px;
}
.nine_img{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.nine_img>img{
    width: 80%;
    /* height: 50%; */
}
.foot{
    padding: 5% 0;
    margin-top: 20vh;
    background-color: #C5C5C5;
    width: 100%;
    display: flex;
}

.allLinks>ul>li{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 5% 5% 0% 5%;
}
.allLinks>ul>li>a{
    text-decoration: none;
    color: black;

}
.foot_left{
    position: relative;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.foot_left>div{
    width: 50%;
}
.foot_right{
width: 60%;
display: flex;
flex-direction: column;
}
.ScribbleFoot{
    position: absolute;
    bottom: -10%;
    right: 25%;
}
